# In this file I will try to plot data from CSV to map

In [1]:
%pip install plotly==4.8.1

Requirement already satisfied: plotly==4.8.1 in /opt/anaconda3/lib/python3.7/site-packages (4.8.1)
Requirement already satisfied: retrying>=1.3.3 in /opt/anaconda3/lib/python3.7/site-packages (from plotly==4.8.1) (1.3.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from plotly==4.8.1) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install pandas plotnine

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: plotnine in /opt/anaconda3/lib/python3.7/site-packages (0.7.0)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: scipy>=1.2.0 in /opt/anaconda3/lib/python3.7/site-packages (from plotnine) (1.4.1)
Requirement already satisfied: statsmodels>=0.11.1 in /opt/anaconda3/lib/python3.7/site-packages (from plotnine) (0.11.1)
Requirement already satisfied: matplotlib>=3.1.1 in /opt/anaconda3/lib/python3.7/site-packages (from plotnine) (3.1.3)
Requirement already satisfied: mizani>=0.7.1 in /opt/anaconda3/lib/python3.7/site-packages (from plotnine) (0.7.1)
Requirement already satisfied: descartes>=1.1.0 in /opt/anaconda3/lib/python3.7/site-packages (from plotnine) (1.1.0)
Requirement already satisfied: patsy>=0.5.1 in /opt/anaconda3/lib/python3.7/site-packages (from plotnine) (0.5.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1.1->plotnine) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1.1->plotnine) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1.1->plotnine) (0.10.0)
Requirement already satisfied: palettable in /opt/anaconda3/lib/python3.7/site-packages (from mizani>=0.7.1->plotnine) (3.3.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.1->plotnine) (46.0.0.post20200309)

In [3]:
import pandas as pd
import plotly.graph_objects as go
from sklearn.model_selection import train_test_split
import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib import style
from plotnine import *

In [4]:
Covid_death = pd.read_csv("datasets_494724_1234657_time_series_covid_19_deaths.csv")
df=Covid_death.copy()

In [5]:
df=Covid_death.copy()
df = df.rename(columns= {"Country/Region" : "Country", "Province/State": "Province"})
df.head()

,Province,Country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,265,270,294,300,309,327,357,369,384,405
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,33,33,33,33,33,34,34,34,34,34
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,661,667,673,681,690,698,707,715,724,732
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [6]:

total_list = df.groupby('Country')['4/13/20'].sum().tolist()

country_list = df["Country"].tolist()
country_set = set(country_list)
country_list = list(country_set)
country_list.sort()
new_df = pd.DataFrame(list(zip(country_list, total_list)), 
               columns =['Country', 'Total_DeathNumber'])

In [7]:
colors = ["#F9F9F5", "#FAFAE6", "#FCFCCB", "#FCFCAE",  "#FCF1AE", "#FCEA7D", "#FCD97D",
          "#FCCE7D", "#FCC07D", "#FEB562", "#F9A648",  "#F98E48", "#FD8739", "#FE7519",
          "#FE5E19", "#FA520A", "#FA2B0A", "#9B1803",  "#861604", "#651104", "#570303",]

In [8]:

fig = go.Figure(data=go.Choropleth(
    locationmode = "country names",
    locations = new_df['Country'],
    z = new_df['Total_DeathNumber'],
    text = new_df['Total_DeathNumber'],
    colorscale = colors,
    autocolorscale=False,
    reversescale=False,
    colorbar_title = 'Reported Covid-19 Death Cases',
))

In [9]:
fig.update_layout(
    title_text='Reported Covid-19 Death Cases',
    geo=dict(
        showcoastlines=True,
    ),
)

fig.write_html('first_figure.html', auto_open=True)